.mainview {
    background-color: #fff3e1;
}

.tabview, .modlist {
    background-color: #ffebcd;
}

.moditem {
    color: black;
}

.moditem.selected {
    background-color: rgb(159, 217, 253);
    color: white;
}
