/*
    Does haxeui care about specificity?
*/
.danger.danger {
    color: red;
    background-color: white;
}

moditem {
    background-color: none;
}
moditem.selected {
    background-color: platform-color('highlight');
    color: platform-color('highlight-text');
}

.version {
    border-radius: 20px;

}

.version.outdated {
    background-color: #ffff00;
    color: black;
}

.version.updated {
    background-color: #00ff00;
    color: black;
}
