.vbox,
.tabview {
  background-color: #3a3a3a;
  color: white;
}
.textfield:disabled {
  background-color: #3d3d3d;
  color: #a3a3a3;
}
.label,
.checkbox,
.button {
  color: white;
}
.button {
  background-color: #545454;
}
.tabview > .tabview-content {
  border: 1px solid #ABABAB;
  padding: 5px;
  background-color: #3a3a3a;
  color: white;
}
.moditem.selected {
  background-color: #1fa9ff;
  color: white;
}

.danger {
  color: red;
}