/*
    Does haxeui care about specificity?
*/
.danger.danger {
    color: red;
    background-color: white;
}

moditem {
    background-color: none;
}
moditem.selected {
    background-color: platform-color('highlight');
    color: platform-color('highlight-text');
}

