<module>
    <components>
        <class name="components.ModGroup"/>
        <class name="components.ModItem"/>
        <class name="components.ModList"/>
        <class name="components.DialogTextField"/>
    </components>
    <resources>
        <resource path="assets/styles" prefix="GMM/styles" />
    </resources>
    <themes>
        <bulby parent="default">
            <style resource="GMM/styles/style.css"/>
        </bulby>
        <bulbydark parent="bulby">
            <style resource="GMM/styles/bulbydark.css"/>
        </bulbydark>
    </themes>
</module>